html,
body {
  overscroll-behavior: none;
  background-color: white;
}

body {
  margin: 0;
}

#container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  min-height: 100dvh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#credit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 10px;
  font-family: sans-serif;
  color: white;
}